.cl_middle {
	border-style: none;
	background-color: whitesmoke;
}

.cl_upper_part{
	display: flex;
	height: 600px;
}

.cl_bottom_part{
	height: 200px;
}

.cl_upper_block{
	background-color: black;
}

#id_upper_right{
	flex-shrink: 0;
	flex-basis: 400px;
	margin-left: 10px;
}

#id_upper_left{
	flex-grow: 1;
	margin-left: 10px;
}

.cl_bottom{
	height: 100%;
	background-color: slategray;
	margin-top: 10px;
	overflow: auto;
}

#id_inventory{
	display: none;
	overflow: auto;
}
#id_char_buttons{
	display: inline-block;
	background-color: gray;
	width: 100%;
}

#id_char_buttons >button{
	opacity: 1;
	border-style: solid;
	color: black;
	background-color: sandybrown;
	border-radius: 15px 15px 1px 1px;
	cursor: pointer;
	font-size: 18px;
}