.cl_screen{
	background-color: red;
	margin: 10px 20px 0 20px;
	overflow: hidden;
	background-image: url('./bp_shipwrecked/bg.jpg'); /* Replace with your image URL */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /* Optional - makes the background fixed */
/*  	width: 100%;*/
	height: 80vh;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#id_fullpanel{
	display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 80%;
    margin: auto;
    overflow: auto;
    position: relative;
}

.cl_item{
	background-color: sandybrown;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: brown;
    width: 150px;
    height: 50px;
    padding: 10px;
    align-content: end;
    margin: 20px;
    color: black;
    cursor: pointer;
}
.cl_item:hover{
	background-color: chocolate;
}

.cl_active{
	background-color: sienna;
}

#id_startsimulation{
	display: none;
	background-color: peachpuff;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: brown;
    width: 150px;
    height: 50px;
    padding: 10px;
    align-content: end;
    margin: 20px;
    color: black;
    cursor: pointer;
}

#id_game{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.cl_div_prompt{
	flex: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cl_prompt{
	font-size: 20px;
	text-align: center;
}
.cl_div_buttons{
	flex: 60%;
}

#id_items{
	display: none;
	justify-content: center;
}
#id_choices{
	display: flex;
	height: 70%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cl_choice{
	display: block;
	width: 50%;
	border-style: none;
	background-color: lightblue;
	font-size: 25px;
	height: 40px;
	cursor: pointer;
	margin:auto;
}