.cl_mid_main{
	display: flex;
}



.cl_middle_left {
  flex-grow: 1;
  padding: 20px;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
}

.cl_middle_right {
  flex-shrink: 0;
  flex-basis: 200px;
  padding: 20px;
  color: white;
}

.cl_middle_right > a{
	display: block;
	padding: 20px 5px;
	text-decoration: none;
	cursor: pointer;
	color: lightyellow;
	background-color: #121233;
}

.cl_middle_right > a:hover{
	color: black;
	background-color: whitesmoke;
}


.cl_button_collapsible{
	background-color: darkorange;
	color: white;
	border: none;
	width: 100px;
	padding: 8px;
	margin-top: 18px;
	display: block;
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.cl_button_collapsible:hover{
	background-color: orangered;
}
.cl_content{
	padding: 0 18px;
	padding-bottom: 18px;
	display: none;
	overflow: hidden;
	background-color: #121233;
}

.cl_sub_content{
	padding: 24px 18px;
	display: none;
	overflow: hidden;
	background-color: #2d2d4f;
}

#id_curseforge_link{
	text-decoration: none;
	color: lightblue;
}

@media (max-width: 800px) {
	.cl_middle_right{
		display: none;
	}
}