@font-face {
	font-family: "Horse-Font";
	src: url(http://www.htmlhorse.org/mc-font.otf) format("truetype");
}

body{
	margin: 0;
}


#pages {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 50px);
	overflow-y: auto;
	position: relative;
	min-height: calc(100vh - 50px);
}

.page {
	display: none;
	box-sizing: border-box;
}


#navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	box-sizing: border-box;
}

#navigation a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	/* background-color: #555; */
}
.cl_nav_icon{
	width: 24px;
	height: 24px;
}

.nav-link.active {
	background-color: #555; /* Change this to your desired background color */
}

.cl_default_button{
	background-color: greenyellow;
	border-style: none;
	border-radius: 0;
	font-size: 18px;
	width: 40%;
	display: block;
}

/* 
======================
STYLE FOR HOME PAGE
vvvvvvvvvvvvvvvvvvvvv
*/

#id_progressBars {
	display: flex;
	justify-content: space-between;
	/* margin-bottom: 20px; /* Adjust the margin as needed */
	padding: 10px;
	background-color: #A1662F;
}

.progress-bar-home {
	width: 45%; /* Adjust the width as needed */
	height: 20px;
	background-color: #4caf50; /* Green color, you can change it */
	margin: 0;
}

#id_home_button_feed {
	position: absolute;
	bottom: 30px;
	right: 10px;
	border-radius: 50%;
	background-color: chartreuse;
	height: 64px;
	width: 64px;
	border-style: double;
}

#id_home_main{
	padding: 10px;
}

#id_feed_selector{
	position: absolute;
	top: 40%;
	left: 20%;
	background: black;
	height: 15%;
	width: 60%;
	display: none;
	color: black;
	flex-direction: row;
	align-content: center;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	border-style: inset;
	border-color: saddlebrown;
	border-radius: 10px;
	box-sizing: border-box
}

#id_feed_selector_close{
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: indianred;
	color: black;
}

/* 
======================
STYLE FOR HEALTH PAGE
vvvvvvvvvvvvvvvvvvvvv
*/
#id_vits_table > li > span{
	width: 50px;
}
#id_page_health ul {
	padding: 0 20px 0 20px;
}
#id_page_health li {
	list-style-type: none;
	margin-bottom: 20px;
	display: flex;
	/* padding: 5px 1px 5px 1px; */
	height: 4vh;
}

.progress-bar-container {
	position: relative;
	height: 20px;
	/* margin-left: 40px; */
	width: 100%;
}

/* Style for the progress bar background */
.progress-bar-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ddd; /* Background color for the progress bar background */
}

/* Style for the progress bar */
.progress-bar {
	height: 100%;
	background-color: #4caf50; /* Green color, you can change it */
}
.active-vit {
	border-style: inset;
	border-radius: 5px;
	border-color: #8e9cbf;
}
#id_vit_desc_border {
	display: none;
	position: absolute;
	bottom: 20px;
	width: 98%;
	box-sizing: border-box; /* Include padding in the total width */
}

#id_vit_desc {
	border-style: inset;
	border-radius: 5px;
	border-color: #8e9cbf;
	background-color: black;
	height: 100px;
	width: 100%;
}
#id_vit_close_desc{
	position: absolute;
	right: 0;
	background: indianred;
	font-weight: 900;
	color: black;
}
#id_vit_read_more{
	position: absolute;
	right: 0;
	bottom: 10px;
	background: #e9c18e;
	color: black;
}
/* 
======================
STYLE FOR COOKBOOK PAGE
vvvvvvvvvvvvvvvvvvvvv
*/
#id_recipe_filterbar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	background-color: #181A1B;
	position: sticky;
	top: 0;
	z-index: 3;
}
.cl_label_filter{
	margin: 5px;
}

.cl_cb_recipe {
	background-color: black;
	height: 80px;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}
.cl_cb_recipe_title{
	display: block;
}
.cl_cb_vit_desc{
	display: block;
}
.cl_cb_meal_desc{
	display: block;
}
.cl_cb_button_view_recipe{
	position: absolute;
	bottom: 10px;
	right: 0;
	background: #e9c18e;
	color: black;
	font-size: 14px;
}
#id_page_cookbook{
	height: 100vh;
	overflow-y: auto;
}

/* 
======================
STYLE FOR SETTINGS PAGE
vvvvvvvvvvvvvvvvvvvvv
*/
#id_setting_credits{
	display: none;
	margin-bottom: 20px;
}
#id_setting_credits a{
	display: block;
}

.dev_button{
	margin-bottom: 10px;
}

@media only screen and (min-width: 601px) {
	/* Desktop view: Show desktop message, hide pages and navigation */
	#id_div_dekstop {
		display: block;
	}

	#id_div_mobile {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#id_div_dekstop{
		display: none;
	}
	#id_div_mobile {
		display: block;
		background-color: rgb(24, 26, 27);
		margin: 0;
		font-family: Arial, sans-serif;
		color: white;
	}
}